body{
    padding: 0;
    margin: 0;
    overscroll-behavior: contain;
}

#menu {
    position: absolute;
    z-index: 9;
    background: linear-gradient(30deg, #6200ff, #817676);
    color: #fff;
    text-align: center;
    cursor:grabbing;
    top:60px;
  }

#manual-click{
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: #1d88df;
  color:white;
  border: none;
  font-size:30px;
  cursor: pointer;
  display: inline-block;
}

#manual-click:active {
  transform: rotate(0.5turn);
}

.filter-bright:hover{
  filter:brightness(80%);
}

#menu-body{
    padding: 10px;
}
  
#menu-header {
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
}

.menu-btn{
  display: inline-block;
  min-width: 150px;
  background: #f8420b;
  padding: 5px 10px;
  margin: 1px 0px;
  cursor: pointer;
  color:white;
  border:none;
}

.menu-btn:disabled{
  filter:brightness(0.5) !important;
  cursor:no-drop;
}

.menu-btn:hover{
  filter:brightness(1.3)
}

.menu-div span{
  width: 40px;
  display: inline-block;
}


#canva{
    /*margin-left: 200px;*/
}

#bag{
    background: linear-gradient(30deg, #6200ff, #817676);
    color: #fff;
    padding: 20px;
}

#canva span{
    /*width:10px;
    height: 10px;*/
    display: inline-block;
}

.pickable{
  position:absolute;
  display: block;
  font-size: 25px;
  cursor:pointer
}

.pickable:hover{
  font-size: 30px;
  filter: brightness(80%);
}

#btn-reset{
  float: right;
  border:none;
  padding: 5px 40px;
  cursor: pointer;
}

/*Utils*/

.text-right{
  text-align: right;
}

.margin0{
  margin:0;
}
.bg-c-blue{
  background-color: rgb(42, 111, 240);
}

.bg-c-orange{
  background-color: rgb(196, 83, 49);
}

.bg-c-green{
  background-color: rgb(49, 196, 81);
}

.c-white{
  color:white;
}
/**/